Monobjc.Sdp/Model/sdef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="documentation" />
        <xs:element maxOccurs="unbounded" ref="suite" />
      </xs:sequence>

      
      <xs:attribute name="title" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="documentation">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="html" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="html">
    <xs:complexType mixed="true" />
  </xs:element>
  <xs:element name="xref">
    <xs:complexType>
      
      
      <xs:attribute name="target" />
      <xs:attribute name="hidden" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="cocoa">
    <xs:complexType>
      
      
      <xs:attribute name="name" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="class" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="key" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="method" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="insert-at-beginning" use="optional" />
      <xs:attribute name="boolean-value" use="optional" />
      <xs:attribute name="integer-value" type="xs:NMTOKEN" use="optional" />
      <xs:attribute name="string-value" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="suite">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="class" />
          <xs:element ref="class-extension" />
          <xs:element ref="command" />
          <xs:element ref="documentation" />
          <xs:element ref="enumeration" />
          <xs:element ref="event" />
          <xs:element ref="record-type" />
          <xs:element ref="value-type" />
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" />
      <xs:attribute name="code" />
      <xs:attribute name="description" use="optional" />
      <xs:attribute name="hidden" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="synonym">
    <xs:complexType>
      <xs:choice>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
      </xs:choice>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="code" use="optional" />
      <xs:attribute name="hidden" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="type">
    <xs:complexType>
      
      
      <xs:attribute name="type" type="xs:NMTOKENS" />
      <xs:attribute name="list" use="optional" />
      <xs:attribute name="hidden" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="command">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonym" />
        <xs:element minOccurs="0" ref="direct-parameter" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="parameter" />
        <xs:element minOccurs="0" ref="result" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="documentation" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="xref" />
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="code" />
      <xs:attribute name="description" use="optional" />
      <xs:attribute name="hidden" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonym" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="documentation" />
        <xs:element minOccurs="0" ref="direct-parameter" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="documentation" />
          <xs:element ref="parameter" />
        </xs:choice>
        <xs:element minOccurs="0" ref="result" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="documentation" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="xref" />
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="code" />
      <xs:attribute name="description" use="optional" />
      <xs:attribute name="hidden" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="direct-parameter">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="type" />
      </xs:choice>
      
      
      <xs:attribute name="type" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="optional" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="result">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="type" />
      </xs:choice>
      
      
      <xs:attribute name="type" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="type" />
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="type" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="optional" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="class">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:choice>
            <xs:element ref="contents" />
            <xs:element ref="documentation" />
            <xs:element ref="element" />
            <xs:element ref="property" />
            <xs:element ref="responds-to" />
            <xs:element ref="synonym" />
            <xs:element ref="xref" />
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="plural" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="inherits" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="contents">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="type" />
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="code" use="optional" />
      <xs:attribute name="type" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="access" use="optional" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="element">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="accessor" />
      </xs:sequence>
      
      
      <xs:attribute name="type" type="xs:NMTOKENS" />
      <xs:attribute name="access" use="optional" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="accessor">
    <xs:complexType>
      
      
      <xs:attribute name="style" />
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="type" />
          <xs:element ref="synonym" />
          <xs:element ref="documentation" />
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="type" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="access" use="optional" />
      <xs:attribute name="in-properties" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="responds-to">
    <xs:complexType>
      <xs:choice>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
      </xs:choice>
      
      
      <xs:attribute name="command" type="xs:NMTOKENS" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="name" type="xs:NMTOKENS" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="class-extension">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:choice>
            <xs:element ref="contents" />
            <xs:element ref="documentation" />
            <xs:element ref="element" />
            <xs:element ref="property" />
            <xs:element ref="responds-to" />
            <xs:element ref="synonym" />
            <xs:element ref="xref" />
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="extends" type="xs:NMTOKENS" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="value-type">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonym" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="documentation" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="xref" />
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="plural" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="record-type">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonym" />
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="documentation" />
          <xs:element ref="property" />
          <xs:element ref="xref" />
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="plural" type="xs:NMTOKENS" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="enumeration">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="documentation" />
          <xs:element ref="enumerator" />
          <xs:element ref="xref" />
        </xs:choice>
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="description" use="optional" />
      <xs:attribute name="inline" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="enumerator">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:choice>
            <xs:element ref="cocoa" />
          </xs:choice>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="synonym" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="documentation" />
      </xs:sequence>
      
      
      <xs:attribute name="name" type="xs:NMTOKENS" />
      <xs:attribute name="code" />
      <xs:attribute name="hidden" use="optional" />
      <xs:attribute name="description" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>